%table#dataList
  %caption
    ="#{t('app.tasks.index')} - #{t('system.found_registries', :count => tasks.count)}"
  %thead
    %tr
      %th= order search, :by => :name, :as => t('activerecord.models.task')
      %th= order search, :by => :story_id, :as => t('activerecord.models.story')
      %th= order search, :by => :updated_at, :as => t('activerecord.attributes._all.updated_at')
      %th
      %th
      %th
  %tbody
    - tasks.each do |task|
      %tr
        %td= task.name
        %td= task.story.name
        %td= h task.updated_at.to_formatted_s(:short)
        %td= show_link product_sprint_task_path(@product, @sprint, task)
        %td= edit_link edit_product_sprint_task_path(@product, @sprint, task)
        %td= delete_link product_sprint_task_path(@product, @sprint, task)

