%p
  %b #{t('activerecord.attributes.user.login')}:
  #{@user.login}
  %br
  %b #{t('activerecord.attributes.user.email')}:
  #{@user.email}
  %br
  %b #{t('activerecord.attributes.user.admin')}:
  #{@user.admin}
  %br

