= f.error_messages form_errors_class
= f.label :story_id
%br
= f.select(:story_id, @product.stories.all.collect {|s| [ s.name, s.id ] }, { :include_blank => true })
%br
= f.label :status
%br
= f.select(:status, Taskk::STATUS.collect {|s| [ t("app.sprints.#{s}"), s ] })
%br
= f.label :name
%br
= f.text_field :name, :class => 'title validate[required,length[0,100]]'
%br
= f.label :estimative
%br
= f.text_field :estimative, :class => 'text smallInput validate[required,custom[onlyInteger]]'
%br
= f.label :description
%br
= f.text_area :description, :class => 'text'

