= f.error_messages form_errors_class
= f.label :story_id
%br
= f.select(:story_id, @product.stories.all.collect {|s| [ s.name, s.id ] }, { :include_blank => true }, :tabindex => 1)
%br
= f.label :status
%br
= f.select(:status, Taskk::STATUS.collect {|s| [ t("app.sprints.#{Taskk::STATUS_STR[s]}"), s ]}, {}, :tabindex => 2)
%br
= f.check_box :unplanned, :tabindex => 3
= f.label :unplanned
%br
= f.label :name
%br
= f.text_field :name, :class => 'validate[required,length[0,100]] title', :tabindex => 4
%br
= f.label :estimative
%br
= f.text_field :estimative, :class => 'validate[required,custom[onlyInteger]] text smallInput', :tabindex => 5
%br
= f.label :description
%br
= f.text_area :description, :class => 'text', :tabindex => 6

