#card-data
  %h3 #{@task.name}
  %b #{t('activerecord.attributes.story.estimative')}:
  #{@task.estimative}
  %p
    %b #{t('activerecord.models.story')}:
    #{@task.story.name}
    %br
    %br
    #{@task.description}

