%div{:class => 'card-data'}
  %h3
    #{@task.name}
    - if @task.unplanned?
      = " (#{t('activerecord.attributes.taskk.unplanned')})"
  %p
    %b #{t('activerecord.attributes.story.estimative')}:
    #{@task.estimative}
  %br
  %p
    #{@task.description}

