%table#kanban
  %caption
    %b= "#{t('activerecord.models.sprint')}: "
    = "#{@sprint.name}"
    %br
    %b= "#{t('activerecord.attributes.sprint.velocity')}: "
    = "#{@sprint.velocity}"
    %br
    %b= "#{t('activerecord.attributes.sprint.estimated_velocity')}: "
    = "#{@sprint.estimated_velocity}"
    = "(#{t('app.sprints.previous_velocities', :product => @product.name)}:"
    = (@product_sprints.map {|sprint| sprint.velocity}).join(', ')
    )
    = "(#{t('app.sprints.previous_projects_velocities')}:"
    = (@all_products_sprints.map {|sprint| sprint.velocity}).join(', ')
    )
  %thead
    %tr
      %th{:class => 'span-4'}= "#{t('activerecord.models.story')}"
      %th{:class => 'span-4'}= "#{t('app.sprints.todo')}"
      %th{:class => 'span-4'}= "#{t('app.sprints.doing')}"
      %th{:class => 'span-4 last'}= "#{t('app.sprints.done')}"
  %tbody
    - group_tasks_by_story(@sprint).each do |story, tasks|
      - printed_story = false
      - tasks.each do |task|
        %tr
          - if printed_story == false
            %td{:rowspan => tasks.size}= print_story(story)
            - printed_story = true
          %td= print_task(task, Taskk::TODO)
          %td= print_task(task, Taskk::DOING)
          %td= print_task(task, Taskk::DONE)

