%table#kanban
  %caption
    %b= "#{t('activerecord.models.sprint')}: "
    = "#{@sprint.name}"
    %br
    %b= "#{t('activerecord.attributes.sprint.velocity')}: "
    = "#{@sprint.velocity}"
    %br
    %b= "#{t('activerecord.attributes.sprint.estimated_velocity')}: "
    = "#{@sprint.estimated_velocity}"
  %thead
    %tr
      %th= "#{t('app.ticket_status.todo')}"
      %th= "#{t('app.ticket_status.doing')}"
      %th= "#{t('app.ticket_status.done')}"
  %tbody
    - @sprint.tickets.each do |ticket|
      %tr
        %td #{postit(ticket) unless ticket.status != Ticket::TODO}
        %td #{postit(ticket) unless ticket.status != Ticket::DOING}
        %td #{postit(ticket) unless ticket.status != Ticket::DONE}

