%table#kanban
  %caption
    %b= "#{t('activerecord.models.sprint')}: "
    = "#{@sprint.name}"
    %br
    %b= "#{t('activerecord.attributes.sprint.velocity')}: "
    = "#{@sprint.velocity}"
    %br
    %b= "#{t('activerecord.attributes.sprint.estimated_velocity')}: "
    = "#{@sprint.estimated_velocity}"
  %thead
    %tr
      %th= "#{t('activerecord.models.ticket')}"
      %th= "#{t('app.ticket_status.todo')}"
      %th= "#{t('app.ticket_status.doing')}"
      %th= "#{t('app.ticket_status.done')}"
  %tbody

