%div{:id => 'kanban'}
  %h4{:class => 'title-background'}
    %b #{t('activerecord.models.sprint')}:
    #{@sprint.name}
    %span{:class => 'right'}
      %b #{t('activerecord.attributes.sprint.velocity')}:
      #{@sprint.velocity}
      %b #{t('activerecord.attributes.sprint.estimated_velocity')}:
      #{@sprint.estimated_velocity}
  %div
    %div{:class => 'span-8 todo', :status => Ticket::TODO}
      %h5 #{t('app.ticket_status.todo')}
      - @sprint.tickets.each do |ticket|
        %ul
          %li #{postit(ticket) unless ticket.status != Ticket::TODO}
    %div{:class => 'span-8 doing', :status => Ticket::DOING}
      %h5 #{t('app.ticket_status.doing')}
      - @sprint.tickets.each do |ticket|
        %ul
          %li #{postit(ticket) unless ticket.status != Ticket::DOING}
    %div{:class => 'span-8 last done', :status => Ticket::DONE}
      %h5 #{t('app.ticket_status.done')}
      - @sprint.tickets.each do |ticket|
        %ul
          %li #{postit(ticket) unless ticket.status != Ticket::DONE}

