= f.error_messages form_errors_class
%p
  = f.label :backlog
  %br
  = f.select :backlog_id, Backlog.all.collect {|s| [ s.project_name, s.id ] }
%p
  = f.label :name
  %br
  = f.text_field :name, :class => 'text'
%p
  = f.label :start
  %br
  = f.text_field :start, :class => 'text'
%p
  = f.label :end
  %br
  = f.text_field :end, :class => 'text'

