- form_tag new_product_sprint_taskk_path(@product, @sprint), :method => :get do
  %fieldset
    = label_tag 'story_id', t('activerecord.models.story')
    = select_tag 'story_id', options_for_select(@product.stories.all.collect {|s| [ s.name, s.id.to_s ]}, params[:story_id])
    = button_tag t('app.taskks.new'), 'add', :class => 'inline'

#burdown_chart
  = burndown_chart @sprint
%br

= render :partial => 'sprints/backlog'

