= f.error_messages form_errors_class
= f.label :category_id
%br
= f.select(:category_id, Ticket::CATEGORY.collect {|s| [ t("app.ticket_category.#{Ticket::CATEGORY_STR[s]}"), s ]}, {}, :tabindex => 1)
%br
= f.label :name
%br
= f.text_field :name, :class => 'validate[required,length[0,100]] title', :tabindex => 2
%br
= f.label :status
%br
= f.select(:status, Ticket::STATUS.collect {|s| [ t("app.ticket_status.#{Ticket::STATUS_STR[s]}"), s ]}, {}, :tabindex => 3)
= f.check_box :unplanned, :tabindex => 4
= f.label :unplanned
%br
= f.label :priority
%br
= f.text_field :priority, :class => 'validate[required,custom[onlyInteger]] text smallInput', :tabindex => 5
%br
= f.label :estimative
%br
= f.text_field :estimative, :class => 'validate[required,custom[onlyInteger]] text smallInput', :tabindex => 6
%br
= f.label :description
%br
= f.text_area :description, :class => 'text', :tabindex => 7

