%table.dataList
  %caption
    ="#{t('app.tickets.index')} - #{t('system.found_registries', :count => tickets.size)}"
  %thead
    %tr
      %th= order search, :by => :priority, :as => t('activerecord.attributes.ticket.priority')
      %th= order search, :by => :name, :as => t('activerecord.models.ticket')
      %th= order search, :by => :category_id, :as => t('activerecord.attributes.ticket.category_id')
      %th= order search, :by => :status, :as => t('activerecord.attributes.ticket.status')
      %th= order search, :by => :estimative, :as => t('activerecord.attributes.ticket.estimative')
      %th= order search, :by => :updated_at, :as => t('activerecord.attributes._all.updated_at')
      %th
      %th
      %th
  %tbody
    - tickets.each do |ticket|
      %tr{:class => "category_#{Ticket::CATEGORY_STR[ticket.category_id]}"}
        %td= ticket.priority
        %td= ticket.name
        %td= t("app.ticket_category.#{Ticket::CATEGORY_STR[ticket.category_id]}")
        %td= t("app.ticket_status.#{Ticket::STATUS_STR[ticket.status]}")
        %td= ticket.estimative
        %td= h ticket.updated_at.to_formatted_s(:short)
        %td= show_link product_ticket_path(@product.slug, ticket)
        %td= edit_link edit_product_ticket_path(@product.slug, ticket)
        %td= delete_link product_ticket_path(@product.slug, ticket)

