%div{:class => "card-data category-#{Ticket::CATEGORY_STR[@ticket.category_id]}"}
  %h3 #{@ticket.name}
  %p
    %b #{t('activerecord.attributes.ticket.category_id')}:
    #{t("app.ticket_category.#{Ticket::CATEGORY_STR[@ticket.category_id]}")}
    %br
    %b #{t('activerecord.attributes.ticket.status')}:
    #{t("app.ticket_status.#{Ticket::STATUS_STR[@ticket.status]}")}
    - if @ticket.unplanned?
      = " (#{t('activerecord.attributes.ticket.unplanned')})"
    %br
    %b #{t('activerecord.attributes.ticket.estimative')}:
    #{@ticket.estimative}
    %br
    %b #{t('activerecord.attributes.ticket.priority')}:
    #{@ticket.priority}
  %br
  %p
    #{@ticket.description}

