= f.error_messages form_errors_class
= f.label :name
%br
= f.text_field :name, :class => 'validate[required,length[0,100]] title'
%br
= f.label :priority
%br
= f.text_field :priority, :class => 'validate[required,custom[onlyInteger]] text'
%br
= f.label :estimative
%br
= f.text_field :estimative, :class => 'validate[required,custom[onlyInteger]] text'
%br
= f.label :description
%br
= f.text_area :description, :class => 'text'

