= f.error_messages form_errors_class
= f.label :name
%br
= f.text_field :name, :class => 'title validate[required,length[0,100]]'
%br
= f.label :priority
%br
= f.text_field :priority, :class => 'text smallInput validate[required,custom[onlyInteger]]'
%br
= f.label :estimative
%br
= f.text_field :estimative, :class => 'text smallInput validate[required,custom[onlyInteger]]'
%br
= f.label :color
%br
= f.text_field :color, :class => 'text smallInput'
%br
= f.label :description
%br
= f.text_area :description, :class => 'text'

