= f.error_messages form_errors_class
%p
  = f.label :name
  %br
  = f.text_field :name, :class => 'text'
%p
  = f.label :priority
  %br
  = f.text_field :priority, :class => 'text'
%p
  = f.label :estimative
  %br
  = f.text_field :estimative, :class => 'text'
%p
  = f.label :description
  %br
  = f.text_area :description, :class => 'text'

