%table.dataList
  %caption
    ="#{t('app.stories.index')} - #{t('system.found_registries', :count => stories.count)}"
  %thead
    %tr
      %th= order search, :by => :priority, :as => t('activerecord.attributes.story.priority')
      %th= order search, :by => :name, :as => t('activerecord.models.story')
      %th= order search, :by => :estimative, :as => t('activerecord.attributes.story.estimative')
      %th= order search, :by => :color, :as => t('activerecord.attributes.story.color')
      %th= order search, :by => :updated_at, :as => t('activerecord.attributes._all.updated_at')
      %th
      %th
      %th
  %tbody
    - stories.each do |story|
      %tr
        %td= story.priority
        %td= story.name
        %td= story.estimative
        %td
          %div{:class => 'color', :style => "background-color:#{story.color}"}
        %td= h story.updated_at.to_formatted_s(:short)
        %td= show_link product_story_path(@product, story)
        %td= edit_link edit_product_story_path(@product, story)
        %td= delete_link product_story_path(@product, story)

