%table#dataList
  %caption
    ="#{t('app.stories.listing')} - #{t('system.found_registries', :count => stories.count)}"
  %thead
    %tr
      %th= order stories, :by => :priority, :as => t('activerecord.attributes.story.priority')
      %th= order stories, :by => :name, :as => t('activerecord.models.story')
      %th= order stories, :by => :estimative, :as => t('activerecord.attributes.story.estimative')
      %th= order stories, :by => :updated_at, :as => t('activerecord.attributes._all.updated_at')
      %th
      %th
      %th
  %tbody
    - stories.all.each do |story|
      %tr
        %td= story.priority
        %td= story.name
        %td= story.estimative
        %td= h story.updated_at.to_formatted_s(:short)
        %td= show_link product_story_path(@product, story)
        %td= edit_link edit_product_story_path(@product, story)
        %td= delete_link product_story_path(@product, story)

