%div{:class => 'card-data'}
  %h3 #{@story.name}
  %p
    %b #{t('activerecord.attributes.story.status')}:
    #{t("app.sprints.#{Story::STATUS_STR[@story.status]}")}
    - if @story.unplanned?
      = " (#{t('activerecord.attributes.story.unplanned')})"
    %br
    %b #{t('activerecord.attributes.story.estimative')}:
    #{@story.estimative}
    %br
    %b #{t('activerecord.attributes.story.priority')}:
    #{@story.priority}
    %br
    %b #{t('activerecord.attributes.story.color')}:
    %span{:style => "color:#{@story.color}"} #{@story.color}
  %br
  %p
    #{@story.description}

