#card-data
  .span-12
    %h3 #{@story.name}
  .span-4.last
    %b #{t('activerecord.attributes.story.estimative')}:
    #{@story.estimative}
    %br
    %b #{t('activerecord.attributes.story.priority')}:
    #{@story.priority}
  .span-12.last
    %p #{@story.description}

