%h2= t('app.searches.result')

%table.dataList
  %thead
    %tr
      %th
        = t('app.products.index')
  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.name, product_path(product)

%table.dataList
  %thead
    %tr
      %th
        = t('app.tickets.index')
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= link_to ticket.name, product_ticket_path(ticket.product, ticket)

%table.dataList
  %thead
    %tr
      %th
        = t('app.sprints.index')
  %tbody
    - @sprints.each do |sprint|
      %tr
        %td= link_to sprint.name, product_sprint_path(sprint.product, sprint)

