- form_for(@backlog) do |f|
  %fieldset
    %legend= t('app.backlog.editing')
    = render :partial => 'backlogs/form', :locals => { :f => f }
    %p= button_tag t('system.update'), :accept, :class => 'positive'

= link_to t('system.show'), backlog_path(@backlog)
= link_to t('system.back'), backlogs_path

