#search
  - form_for @search do |f|
    %fieldset
      %legend= t('system.search_legend')
      - f.fields_for @search.conditions do |backlogs|
        %p
          = backlogs.label :project_name_keywords, t('activerecord.attributes.backlog.project_name')
          %br
          = backlogs.text_field :project_name_keywords, :class => 'text'

      = button_tag t('system.search'), :find, :class => 'search'

= link_to "#{icon(:page_add)}#{t('app.backlog.new')}", new_backlog_path, :class => 'button'
%br
%br

%table
  %caption
    %h3= "#{t('app.backlog.listing')} - #{t('system.found_registries', :count => @backlogs_count)}"
  %thead
    %tr
      %th= order_by_link(:project_name, :text => t('activerecord.attributes.backlog.project_name'))
      %th= order_by_link(:slug, :text => t('activerecord.attributes.backlog.slug'))
      %th= order_by_link(:created_at, :text => t('activerecord.attributes._all.created_at'))
      %th= order_by_link(:updated_at, :text => t('activerecord.attributes._all.updated_at'))
      %th
      %th
      %th
  %tbody
    - for backlog in @backlogs
      %tr
        %td= h backlog.project_name
        %td= h backlog.slug
        %td= h backlog.created_at.to_formatted_s(:short)
        %td= h backlog.updated_at.to_formatted_s(:short)
        %td= link_to icon(:page), backlog_path(backlog), :alt => t('system.show'), :title => t('system.show')
        %td= link_to icon(:page_edit), edit_backlog_path(backlog), :alt => t('system.edit'), :title => t('system.edit')
        %td= link_to icon(:page_delete), backlog_path(backlog), :confirm => t('system.confirm'), :method => :delete, :alt => t('system.destroy'), :title => t('system.destroy')
- if @search.page_count > 0
  .pagination= page_links :prev => t('system.previous_label'), :next => t('system.next_label')

