= f.error_messages form_errors_class
%p
  = f.label :backlog
  %br
  = f.select :backlog_id, Backlog.all.collect {|s| [ s.project_name, s.id ] }
%p
  = f.label :sprint
  %br
  = f.select :sprint_id, Sprint.all.collect {|s| [ s.name, s.id ] }
%p
  = f.label :story
  %br
  = f.text_field :story, :class => 'text'
%p
  = f.label :description
  %br
  = f.text_field :description, :class => 'text'
%p
  = f.label :estimative
  %br
  = f.text_field :estimative, :class => 'text'

