%p
  %b= show_label('activerecord.models.backlog')
  = h @backlog_item.backlog.project_name unless @backlog_item.backlog.nil?
  %br
  %b= show_label('activerecord.models.sprint')
  = h @backlog_item.sprint.name unless @backlog_item.sprint.nil?
  %br
  %b= show_label('activerecord.attributes.backlog_item.father')
  = h @backlog_item.backlog_item.story unless @backlog_item.backlog_item.nil?
  %br
  %b= show_label('activerecord.attributes.backlog_item.story')
  = h @backlog_item.story
  %br
  %b= show_label('activerecord.attributes.backlog_item.description')
  = h @backlog_item.description
  %br
  %b= show_label('activerecord.attributes.backlog_item.estimative')
  = h @backlog_item.estimative
  %br
  %b= show_label('activerecord.attributes._all.created_at')
  = h @backlog_item.created_at.to_formatted_s(:short)
  %br
  %b= show_label('activerecord.attributes._all.updated_at')
  = h @backlog_item.updated_at.to_formatted_s(:short)
  %br

= link_to t('system.edit'), edit_backlog_item_path(@backlog_item)
= link_to t('system.back'), backlog_items_path

