= f.error_messages form_errors_class
= f.label :name
%br
= f.text_field :name, :class => 'validate[required,length[0,60]] title'
%br
= f.label :owner
%br
= f.text_field :owner, :class => 'validate[required,length[0,60]] text'

