#search
  - form_for @search do |f|
    %fieldset
      %legend= t('system.search_legend')
      - f.fields_for @search.conditions do |products|
        %p
          = products.label :name_keywords, t('activerecord.attributes._all.name')
          %br
          = products.text_field :name_keywords, :class => 'text'

      = button_tag t('system.search'), :find, :class => 'search'

= link_to "#{icon(:page_add)}#{t('app.product.new')}", new_product_path, :class => 'button'
%br
%br

%table
  %caption
    %h3= "#{t('app.product.listing')} - #{t('system.found_registries', :count => @products_count)}"
  %thead
    %tr
      %th= order_by_link(:name, :text => t('activerecord.attributes._all.name'))
      %th= order_by_link(:slug, :text => t('activerecord.attributes._all.slug'))
      %th= order_by_link(:created_at, :text => t('activerecord.attributes._all.created_at'))
      %th= order_by_link(:updated_at, :text => t('activerecord.attributes._all.updated_at'))
      %th
      %th
      %th
  %tbody
    - for product in @products
      %tr
        %td= h product.name
        %td= h product.slug
        %td= h product.created_at.to_formatted_s(:short)
        %td= h product.updated_at.to_formatted_s(:short)
        %td= link_to icon(:page), product_path(product), :alt => t('system.show'), :title => t('system.show')
        %td= link_to icon(:page_edit), edit_product_path(product), :alt => t('system.edit'), :title => t('system.edit')
        %td= link_to icon(:page_delete), product_path(product), :confirm => t('system.confirm'), :method => :delete, :alt => t('system.destroy'), :title => t('system.destroy')
- if @search.page_count > 0
  .pagination= page_links :prev => t('system.previous_label'), :next => t('system.next_label')

