#search
  - form_for @search do |f|
    %fieldset
      %legend= t('system.search_legend')
      %p
        = f.label :name_keywords, t('activerecord.attributes._all.name')
        %br
        = f.text_field :name_like, :class => 'text'

      = button_tag t('system.search'), :find, :class => 'search'

= new_link(new_product_path, t('app.products.new'))
%br
%br

%table#dataList
  %caption
    ="#{t('app.products.index')} - #{t('system.found_registries', :count => @products.total_entries)}"
  %thead
    %tr
      %th= order @search, :by => :name, :as => t('activerecord.attributes._all.name')
      %th= order @search, :by => :owner, :as => t('activerecord.attributes.product.owner')
      %th= order @search, :by => :created_at, :as => t('activerecord.attributes._all.created_at')
      %th= order @search, :by => :updated_at, :as => t('activerecord.attributes._all.updated_at')
      %th
      %th
      %th
  %tbody
    - for product in @products
      %tr{:product_id => product.id}
        %td= h product.name
        %td= h product.owner
        %td= h product.created_at.to_formatted_s(:short)
        %td= h product.updated_at.to_formatted_s(:short)
        %td= show_link product_path(product)
        %td= edit_link edit_product_path(product)
        %td= delete_link product_path(product)
= will_paginate @products

