!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= title
    / External stylesheets
    = stylesheet_link_merged :base_screen
    = stylesheet_link_merged :base_print, :media => 'print'
    / Application stylesheets
    = stylesheets(:path => 'compiled')
  %body
    #header
      %h1{:class => 'inline'} Personal-Scrum
      %ul{:class => 'cleanList inline right'}
        %li= image_tag current_user.gravatar_url(:size => 20)
        %li
          %strong
            = link_to current_user.login, user_path(current_user)
        %li= link_to t('app.menu.profile'), edit_settings_path
        %li= link_to t('app.menu.logout'), '/logout'
    #navigation
      %ul{:class => 'cleanList left'}
        %li= link_to t('app.menu.products'), products_path
        - if current_user.admin?
          %li= link_to t('app.menu.users'), users_path
      - form_tag search_path, :method => :get, :class => 'search right' do
        = text_field_tag 'q', nil, :title => t('app.search_hint') ,:class => 'text smallInput'
        = button_tag t('system.search'), :find, :class => 'search inline'
    #breadcrumbs
      = breadcrumbs
    #message
      = render :partial => 'layouts/message'
    #content
      = yield
    #footer{:class => 'center'}
      personal-scrum 0.1 2009

      / External javascripts
      = javascript_include_merged :base
      / Application javascrips
      = javascripts

