!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= title
    / External stylesheets
    = stylesheet_link_merged :base_screen
    = stylesheet_link_merged :base_print, :media => 'print'
    / Application stylesheets
    = stylesheets(:path => 'compiled')
  %body
    .container
      .span-24
        %h1 Personal-Scrum
        %hr
      .span-24
        #breadcumbs
          = crumbs
      %hr

      #message.span-16.append-8.last
        = render :partial => 'layouts/message'

      #inner-content.span-24
        = yield

      = render :partial => 'layouts/footer'
      / External javascripts
      = javascript_include_merged :base
      / Application javascrips
      = javascripts

