!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title Personal-Scrum
    / External stylesheets
    = stylesheet_link_merged :base_screen
    = stylesheet_link_merged :base_print, :media => 'print'
    / Application stylesheets
    = stylesheets
  %body
    .container
      .span-24
        %h1 Personal-Scrum
        %hr
      .span-24
        #menu
          = link_to t('app.menu.products'), products_path
      %hr

      #message.span-16
        - if !flash[:notice].nil?
          .notice= flash[:notice]
        - if !flash[:message].nil?
          .success= flash[:message]
      .span-8.last

      .span-24
        = yield
        / External javascripts
        = javascript_include_merged :base
        / Application javascrips
        = javascripts

      = render :partial => 'layouts/footer'

