!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= title
    = render :partial => 'layouts/css'
  %body
    #header
      %h1{:class => 'inline'}= t('app.name')
    #content
      .login
        = render :partial => 'layouts/message'
        = yield
    #footer{:class => 'center'}
      = render :partial => 'layouts/footer'

    = render :partial => 'layouts/javascript'

